*{
margin: 0;
box-sizing: content-box;
padding: 0;
}
body{
display: grid;
align-items: center;
justify-content: center;
height: 90vh;
}
.display{
    display: none;
    align-items: center;
    height: 80%;
    width: 60vw;
}
.action{
display: flex;
justify-content: space-evenly;
border-radius: 10px;
height: fit-content;
width: fit-content;
}
.combat{
    display: flex;
    justify-content: space-between;
}
.style_img{
height: 150px;
width: 150px;
}
#kill{
    display: none;
}